HolidayReservationSystem/HolidayReservationSystem-ejb/src/conf/xml-resources/web-service-references/PartnerWebService/wsdl/KAIKAI_8080/PartnerWebService/PartnerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="RoomRateNotFoundException" type="tns:RoomRateNotFoundException"/>

<xs:element name="calculateAmount" type="tns:calculateAmount"/>

<xs:element name="calculateAmountResponse" type="tns:calculateAmountResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="retrieveAvailableRoomCount" type="tns:retrieveAvailableRoomCount"/>

<xs:element name="retrieveAvailableRoomCountResponse" type="tns:retrieveAvailableRoomCountResponse"/>

<xs:element name="retrieveAvailableRoomTypes" type="tns:retrieveAvailableRoomTypes"/>

<xs:element name="retrieveAvailableRoomTypesResponse" type="tns:retrieveAvailableRoomTypesResponse"/>

<xs:complexType name="retrieveAvailableRoomCount">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="RoomTypeEntity" type="tns:roomTypeEntity" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomTypeEntity">
<xs:sequence>
<xs:element name="amenities" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="numOfRooms" type="xs:int" minOccurs="0"/>
<xs:element name="reservedRoomEntities" type="tns:reservedRoomEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomEntities" type="tns:roomEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRateEntities" type="tns:roomRateEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="size" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservedRoomEntity">
<xs:sequence>
<xs:element name="reservationEntity" type="tns:reservationEntity" minOccurs="0"/>
<xs:element name="reservedNightEntities" type="tns:reservedNightEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reservedRoomId" type="xs:long" minOccurs="0"/>
<xs:element name="roomEntity" type="tns:roomEntity" minOccurs="0"/>
<xs:element name="roomTypeEntity" type="tns:roomTypeEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationEntity">
<xs:sequence>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="guestEntity" type="tns:guestEntity" minOccurs="0"/>
<xs:element name="onlineReservation" type="xs:boolean" minOccurs="0"/>
<xs:element name="partnerEntity" type="tns:partnerEntity" minOccurs="0"/>
<xs:element name="reservationAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="reservedRoomEntities" type="tns:reservedRoomEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guestEntity">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="guestId" type="xs:long" minOccurs="0"/>
<xs:element name="identificationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservationEntities" type="tns:reservationEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerEntity">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservationEntities" type="tns:reservationEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservedNightEntity">
<xs:sequence>
<xs:element name="amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="reservedNightId" type="xs:long" minOccurs="0"/>
<xs:element name="reservedRoomEntity" type="tns:reservedRoomEntity" minOccurs="0"/>
<xs:element name="roomRateEntity" type="tns:roomRateEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRateEntity">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerNight" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateType" type="tns:rateTypeEnum" minOccurs="0"/>
<xs:element name="reservedNightEntities" type="tns:reservedNightEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRateId" type="xs:long" minOccurs="0"/>
<xs:element name="roomTypeEntity" type="tns:roomTypeEntity" minOccurs="0"/>
<xs:element name="validityEnd" type="xs:dateTime" minOccurs="0"/>
<xs:element name="validityStart" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomEntity">
<xs:sequence>
<xs:element name="reservedRoomEntities" type="tns:reservedRoomEntity" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomId" type="xs:long" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomTypeEntity" type="tns:roomTypeEntity" minOccurs="0"/>
<xs:element name="status" type="tns:roomStatusEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAvailableRoomCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateAmount">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="RoomTypeEntity" type="tns:roomTypeEntity" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="online" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateAmountResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomRateNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAvailableRoomTypes">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAvailableRoomTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomTypeEntity" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerEntity" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="rateTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="UNAVAILABLE"/>
<xs:enumeration value="ALLOCATED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>