HolidayReservationSystem/HolidayReservationSystem-ejb/src/conf/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAvailableRoomCount">
<part name="parameters" element="tns:retrieveAvailableRoomCount"/>
</message>
<message name="retrieveAvailableRoomCountResponse">
<part name="parameters" element="tns:retrieveAvailableRoomCountResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="retrieveAvailableRoomTypes">
<part name="parameters" element="tns:retrieveAvailableRoomTypes"/>
</message>
<message name="retrieveAvailableRoomTypesResponse">
<part name="parameters" element="tns:retrieveAvailableRoomTypesResponse"/>
</message>
<message name="calculateAmount">
<part name="parameters" element="tns:calculateAmount"/>
</message>
<message name="calculateAmountResponse">
<part name="parameters" element="tns:calculateAmountResponse"/>
</message>
<message name="RoomRateNotFoundException">
<part name="fault" element="tns:RoomRateNotFoundException"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="retrieveAvailableRoomCount">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAvailableRoomCountRequest" message="tns:retrieveAvailableRoomCount"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAvailableRoomCountResponse" message="tns:retrieveAvailableRoomCountResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAvailableRoomCount/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="retrieveAvailableRoomTypes">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAvailableRoomTypesRequest" message="tns:retrieveAvailableRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAvailableRoomTypesResponse" message="tns:retrieveAvailableRoomTypesResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveAvailableRoomTypes/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="calculateAmount">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/calculateAmountRequest" message="tns:calculateAmount"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/calculateAmountResponse" message="tns:calculateAmountResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/calculateAmount/Fault/InvalidLoginCredentialException"/>
<fault message="tns:RoomRateNotFoundException" name="RoomRateNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/calculateAmount/Fault/RoomRateNotFoundException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAvailableRoomCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAvailableRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="calculateAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="RoomRateNotFoundException">
<soap:fault name="RoomRateNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>